<p>Look up any image you'd like to see: </p>
</br>
<form action="/images" method="get">
  <input type="text" name="image_name"> 
  <!-- sinatrra takes the name and adds it to params -->
  <button>Find it</button>
</form>
<form action="/images" method="get">
  <button name="image_name" value="random">Random</button>
</form>