<h1>Bonjourno</h1>
</br>
<p>Welcome to the Playground App. It will take care of all your needs in life. Including, but not limited to: looking up data on your favorite movies, looking up information on your top stocks and finding images within the interwebs based on your search queries.</p>