<!DOCTYPE html>
<html>
  <head>
    <title>Playground</title>
    <link href="style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alef:400,700' rel='stylesheet' type='text/css'>
    <style type="text/css"><%= @background %></style>
  </head>
  <body class="<%= @page %>">
    <div id="head">
      <%= @head %>
    </div>
    <div id="container" class="clearfix">
      <div id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/movies">Movies</a></li>
          <li><a href="/stocks">Stocks</a></li>
          <li><a href="/images">Images</a></li>
        </ul>
      </div>
      <div id="content" class="clearfix">
        <%= yield %>
      </div>
    </div>
  </body>
</html>