<p>Look up any movie you like and we'll provide you with the deets!</p>
</br>
<form action="/movies" method="get">
  <input type="text" name="film_name"> 
  <!-- sinatrra takes the name and adds it to params -->
  <button>Find it</button>
</form>