<p>Look up any ticker and we'll provide you with stock information.</p>
</br>
<form action="/stocks" method="get">
  <input type="text" name="stock_tick"> 
  <!-- sinatrra takes the name and adds it to params -->
  <button>Find it</button>
</form>